@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

h1,h2,h3{
    font-family: "Titillium Web", sans-serif;
}

body{
    font-family: "Roboto", sans-serif;
}

:root{
    --primary: #ee3439;
    --secondary: #33b5ff;
    --terciary: #f8f8f8;
}

header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.material-symbols-outlined{
    font-size: 2em;
}

header nav{
    display: none;
}

/* hero */

#hero{
    background-image: url(IMG/exposicion-hero.jpg);
    height: 60vh;
    background-size: cover;
    background-position: center;
    color: white;
    align-content: end;
}

#hero h1{
    font-size: 1.9em;
    text-align: center;
    padding: 2.2em 1.7em;
    line-height: 1.1em;
}

#hero span{
    font-size: 1.2em;
}

#hero p{
    display: none;
}

/* noticias */

#actividades h2{
    width: 100%;
    margin: 1em 0.4em 1em 0.4em;
    font-size: 1.8em;
    line-height: 1.1em;
    text-align: center;
}

#actividades{
    padding: 2em;
    display: flex;
    flex-direction: column;
}

#actividades article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 1.3em;
    border: 4px solid var(--primary);
    background-color: var(--terciary);
    border-radius: 16px;
    padding: 1.2em;
    text-align: left;
    align-items: flex-start;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
    position: relative;
}

#actividades article span{
    display: none;
}

#actividades article p{
    margin-bottom: 1.1em;
}

#actividades img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

#actividades article h3{
    font-size: 1.4em;
}

#actividades article p{
    font-size: 0.9em;
}

#actividades article a{
    font-size: 1em;
    font-weight: bold;
    color: black;
    padding: 5px 10px;
    border: 2.8px solid var(--primary);
    border-radius: 8px;
    background-color: transparent;
}

#actividades article a:hover{
    color: var(--primary);
    background-color: black;
    border: 2.8px solid black;
}

#actividades article:nth-of-type(4) img{
    display: none;
}

#actividades article:nth-of-type(5){
    display: none;
}

/* grid */

#galeria figure:nth-of-type(3){
    display: none;
}

#galeria figure:nth-of-type(5){
    display: none;
}

#galeria figure:nth-of-type(6){
    display: none;
}

#galeria{
    padding: 1.2em;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

#galeria figure{
    position: relative;
   overflow: hidden;
}

.aspect-radio{
    aspect-ratio: 1 / 1;
}


figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#galeria figure:nth-of-type(1),
#galeria figure:nth-of-type(4),
#galeria figure:nth-of-type(5),
#galeria figure:nth-of-type(6){
    transition: 0.3s;
}

#galeria img:nth-of-type(1):hover,
#galeria img:nth-of-type(4):hover,
#galeria img:nth-of-type(5):hover,
#galeria img:nth-of-type(6):hover{
    filter: blur(4px);
}


figcaption{
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#galeria figure:nth-of-type(1) p,
#galeria figure:nth-of-type(4) p,
#galeria figure:nth-of-type(5) p,
#galeria figure:nth-of-type(6) p{
    position: absolute;
    bottom: 0;
    left: 2em;
    background-color: rgba(173, 173, 173, 0.62);
    color: white;
    font-size: 1.1em;
    padding: 1em;
    width: 250px;
    border-top: 10px solid var(--secondary);
    transform: translateY(20px);
    transform: translateY(calc(100% - 8px));
    transition: 0.5s;
    padding-bottom: 3em;
  }

#galeria figure:nth-of-type(1):hover p,
#galeria figure:nth-of-type(4):hover p,
#galeria figure:nth-of-type(5):hover p,
#galeria figure:nth-of-type(6):hover p{
    transform: translateY(5%) rotateZ(-2deg);
    left: initial;
}

figcaption h4{
    font-size: 1.5em;
}

figcaption h4, figcaption a{
    color: white;
    align-items: center;
    text-align: center;
    margin: 15px 24px;
    background-color: rgba(129, 128, 128, 0.322);
}

figcaption a{
    font-size: 1.2em;
    font-weight: bold;
    color: white;
    padding: 4px;
    background-color: var(--secondary);
    border-radius: 10px;
}

figcaption a:hover{
    color: var(--primary);
}

/* formulario de subscripción */

#tickets{
    background-color: black;
    margin-top: 2em;
    padding: 2.5em;
}

#tickets p{
    font-size: 1.3em;
    color: white;
    margin-bottom: 1em;
    text-align: left;
}

#tickets form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#tickets input[type="email"]{
    padding: 1em;
    font-size: 0.8em;
    border-radius: 6px;
    border: 3px solid var(--primary);
}

#tickets a{
    font-size: 0.8em;
    font-weight: 600;
    background-color: black;
    color: var(--primary);
    border: 2px solid var(--primary);
    padding: 6px 8px;
    border-radius: 12px;
    cursor: pointer;
    width: fit-content;
}

#tickets a:hover{
    background-color: white;
    border: 2px solid white;
    color: var(--primary);
}

#tickets label{
    font-size: 0.7em;
    color: white;
    gap: 0.5em;
}

/* footer */
footer {
    background-color: var(--primary);
    padding: 1.2em;
}
  
footer article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes{
    display: flex;
    gap: 0.5em;
}
  
footer span {
    margin-top: 1.1em;
    margin-bottom: 0.7em;
    font-size: 1em;
    font-weight: bold;
    color: black;
}

.logo-redes {
    width: 32px;
    height: 32px;
    padding: 4px;
    object-fit: contain;
}


/* tablet */

@media all and (min-width:768px){

    .material-symbols-outlined{
        display: none;
    }

    header nav{
        gap: 1em;
        display: flex;
    }

    header img{
        height: 3.3vh;
    }

    header nav a{
        font-size: 1.1em;
        font-weight: bold;
        color: white;
        padding: 4px;
    }

    header nav a:hover{
        color: #ee3439;
    }

    header nav a:hover:nth-of-type(4){
        color: #33b5ff;
        background-color: #ee3439;
        border-radius: 8px;
    }

    /* hero */

    #hero h1{
        padding: 70px;
        font-size: 2.5em;
        text-align: left;
    }

    /* noticias */

    #actividades h2{
        text-align: left;
        font-size: 2.3em;
    }

    #actividades article h3{
        font-size: 1.8em;
    }

    #actividades article p{
        font-size: 1.1em;
    }

    #actividades article a{
        font-size: 1.2em;
    }

    #actividades article:nth-of-type(4) img{
        display: block;
    }

    #actividades{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1.5em;
    }

    #actividades article{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 345px;
        margin-bottom: 0;
    }

    /* grid */

    #galeria figure:nth-of-type(3){
        display: block;
    }

    #galeria figure:nth-of-type(4) img{
        display: block;
    }

    #galeria{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    figure:nth-of-type(1){
        grid-column: 1;
        grid-row: 1
    }

    figure:nth-of-type(2){
        grid-row: span 2;
    }
    
    figure:nth-of-type(3){
        grid-column: span 2;
    }

    figure:nth-of-type(4){
        grid-column: 1;
        grid-row: 2;
    }

    #galeria figcaption h4{
        font-size: 1.6em;
    }

    .subtitulo{
        background-color: transparent;
        text-align: left;
    }

    #galeria figure:nth-of-type(3) figcaption p{
        color: white;
        font-weight: 500;
        font-size: 1.2em;
        padding-left: 1.2em;
        
    }

    #galeria figure:nth-of-type(3){
        aspect-ratio: 2 / 1 ;
        display: flex;
        align-items: flex-end;

    }

    #galeria figcaption a{
        font-size: 1.2em;
        padding: 4px;
    }

    /* formulario de subscripción */

    #tickets{
        padding: 3em;
    }
    
    #tickets p{
        font-size: 1.5em;
        margin-bottom: 1em;
        text-align: center;
    }
    
    #tickets form{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    #tickets input[type="email"]{
        width: 60%;
    }
    
    #tickets a{
        font-size: 0.9em;
        padding: 2px 6px;
        cursor: pointer;
        align-items: center;
        align-content: center;
    }
    
    #tickets label{
        font-size: 0.9em;
        gap: 0.5em;
        display: flex;
        align-items: flex-start;
        align-items: center;
    }

    /* footer */

    footer article {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        align-content: center;
        gap: 0.8em;
        padding-right: 2em;
    }

    footer span {
        font-size: 1.2em;
        margin-right: 1.1em ;
    }

    .logo-redes {
        width: 35px;
        height: 35px;
    }
    
}

@media all and (min-width:1200px){ 

    header nav a{
        font-size: 1.4em;
        padding: 8px;
    }

    header{
        padding: 1.8em;
    }

    header img{
        height: 4vh;
    }

    /* hero */

    #hero{
        height: 80vh;
    }
    
    #hero h1{
        padding: 5px 60px;
        font-size: 2.8em;
    }

    #hero p{
        display: flex;
        font-size: 1.3em;
        padding: 5px 40px 80px 60px;
        font-weight: 600;
    }

    #hero p, h1{
        width: 80%;
    }

    /* noticias */

    #actividades article:nth-of-type(5){
        display: block;
    }

    #actividades{
        gap: 1.2em;
        padding: 3.5em;
        justify-content: center;
    }

    #actividades article{
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: calc((100% - 4em) / 3);
    }

    #actividades h2{
        font-size: 2.8em;
    }

    #actividades article h3{
        font-size: 1.9em;
        line-height: 1.2em;
        margin-bottom: 0.2em;
    }

    #actividades article p{
        font-size: 1.2em;
    }

    #actividades article a{
        font-size: 1.3em;
    }

    #actividades article span{
        display: block;
        font-size: 1.2em;
        padding: 6px 10px;
        background-color: var(--secondary);
        color: var(--primary);
        border-radius: 10px;
        font-weight: bold;
        position: absolute;
        top: -20px;
        right: -10px;
    }

    /* grilla */

    #galeria figure:nth-of-type(5){
        display: block;
    }

    #galeria figure:nth-of-type(6){
        display: block;
    }

    #galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    figcaption a{
        padding: 8px;
        font-size: 1.3em;
    }

    /* formulario de subscripción */
    
    #tickets a{
        padding: 4px 14px;
    }

    /* footer */

    footer{
        padding: 1.6em;
    }

    footer article {
        padding-right: 4em;
    }

    .logo-redes {
        width: 38px;
        height: 38px;
    }

    footer span {
        font-size: 1.3em;
        margin-right: 1.3em ;
    }


}



